@model IEnumerable<ProjectDemo.Models.VideoJuego>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a data-url="@Url.Content(string.Format("~/Home/MostrarVideoJuego/{0}",item.Id))" class="list-group-item">
            @item.Nombre
        </a>
    }
</div>